@model List<MaciejDemuchaLab4.Models.PhoneViewModel>

@{ ViewData["Title"] = "Producenci"; }


<html>
<head>
    <title>Producenci</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Scripts/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @foreach (var Phone in Model)
    {
        <br />
    <div>

        <h2>Producent: @Phone.Manufacturer</h2>

        <h4>Model: @Phone.Model</h4>

        <h4>Cena: @Phone.Price</h4>

        <h4>Rozmiar: @Phone.Size cala</h4>

        <img src=@Url.Content(Phone.Photo) alt=@Phone.Model>
    </div> }
</body>
</html>